[submodule "config/nvim/pack/_/start/lightline.vim"]
	path = config/nvim/pack/_/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "config/nvim/pack/_/start/lightline-ale"]
	path = config/nvim/pack/_/start/lightline-ale
	url = https://github.com/maximbaz/lightline-ale.git
[submodule "config/nvim/pack/_/start/fugitive.vim"]
	path = config/nvim/pack/_/start/fugitive.vim
	url = https://github.com/tpope/vim-fugitive.git
[submodule "config/nvim/pack/_/start/vim-gitgutter"]
	path = config/nvim/pack/_/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "config/nvim/pack/_/start/vim-sandwich"]
	path = config/nvim/pack/_/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich.git
[submodule "config/nvim/pack/_/start/neoterm"]
	path = config/nvim/pack/_/start/neoterm
	url = https://github.com/kassio/neoterm.git
[submodule "config/nvim/pack/_/opt/vim-table-mode"]
	path = config/nvim/pack/_/opt/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "config/nvim/pack/_/opt/vim-ansible-vault"]
	path = config/nvim/pack/_/opt/vim-ansible-vault
	url = https://github.com/thiagoalmeidasa/vim-ansible-vault.git
[submodule "config/nvim/pack/_/start/yankround.vim"]
	path = config/nvim/pack/_/start/yankround.vim
	url = https://github.com/LeafCage/yankround.vim.git
[submodule "config/nvim/pack/_/opt/ale"]
	path = config/nvim/pack/_/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "config/nvim/pack/_/opt/ctrlp.vim"]
	path = config/nvim/pack/_/opt/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "config/nvim/pack/_/opt/linediff.vim"]
	path = config/nvim/pack/_/opt/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "config/nvim/pack/_/opt/vim-commentary"]
	path = config/nvim/pack/_/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "config/nvim/pack/_/opt/vim-quickhl"]
	path = config/nvim/pack/_/opt/vim-quickhl
	url = https://github.com/t9md/vim-quickhl.git
[submodule "config/nvim/pack/_/opt/line-number-interval.nvim"]
	path = config/nvim/pack/_/opt/line-number-interval.nvim
	url = https://github.com/IMOKURI/line-number-interval.nvim.git
[submodule "config/nvim/pack/_/start/vim-easy-align"]
	path = config/nvim/pack/_/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "config/nvim/pack/_/opt/lexima.vim"]
	path = config/nvim/pack/_/opt/lexima.vim
	url = https://github.com/cohama/lexima.vim.git
[submodule "config/nvim/pack/_/opt/rainbow_csv"]
	path = config/nvim/pack/_/opt/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv.git
[submodule "config/nvim/pack/_/start/vim-cursorword"]
	path = config/nvim/pack/_/start/vim-cursorword
	url = https://github.com/itchyny/vim-cursorword.git
[submodule "config/nvim/pack/_/opt/vim-python-pep8-indent"]
	path = config/nvim/pack/_/opt/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "config/nvim/pack/_/start/suda.vim"]
	path = config/nvim/pack/_/start/suda.vim
	url = https://github.com/lambdalisue/suda.vim.git
[submodule "config/nvim/pack/_/start/Jenkinsfile-vim-syntax"]
	path = config/nvim/pack/_/start/Jenkinsfile-vim-syntax
	url = https://github.com/martinda/Jenkinsfile-vim-syntax.git
[submodule "config/nvim/pack/_/start/ansible-vim"]
	path = config/nvim/pack/_/start/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "config/nvim/pack/_/opt/capture.vim"]
	path = config/nvim/pack/_/opt/capture.vim
	url = https://github.com/tyru/capture.vim.git
[submodule "config/nvim/pack/_/start/neco-syntax"]
	path = config/nvim/pack/_/start/neco-syntax
	url = https://github.com/Shougo/neco-syntax.git
[submodule "config/nvim/pack/_/start/vim-sonictemplate"]
	path = config/nvim/pack/_/start/vim-sonictemplate
	url = https://github.com/mattn/vim-sonictemplate.git
[submodule "config/nvim/pack/_/start/clever-f.vim"]
	path = config/nvim/pack/_/start/clever-f.vim
	url = https://github.com/rhysd/clever-f.vim.git
[submodule "config/nvim/pack/_/start/vim-vsnip"]
	path = config/nvim/pack/_/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "config/nvim/pack/_/start/vim-vsnip-integ"]
	path = config/nvim/pack/_/start/vim-vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ.git
[submodule "config/nvim/pack/_/opt/vscode-python"]
	path = config/nvim/pack/_/opt/vscode-python
	url = https://github.com/microsoft/vscode-python.git
[submodule "config/nvim/pack/_/start/vim-operator-replace"]
	path = config/nvim/pack/_/start/vim-operator-replace
	url = https://github.com/kana/vim-operator-replace.git
[submodule "config/nvim/pack/_/start/vim-operator-user"]
	path = config/nvim/pack/_/start/vim-operator-user
	url = https://github.com/kana/vim-operator-user
[submodule "config/nvim/pack/_/start/vim-textobj-user"]
	path = config/nvim/pack/_/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "config/nvim/pack/_/start/vim-textobj-indent"]
	path = config/nvim/pack/_/start/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
[submodule "config/nvim/pack/_/start/vim-terraform"]
	path = config/nvim/pack/_/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "config/nvim/pack/_/opt/nvim-colorizer.lua"]
	path = config/nvim/pack/_/opt/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua.git
[submodule "config/nvim/pack/_/start/challenger-deep-theme-vim"]
	path = config/nvim/pack/_/start/challenger-deep-theme-vim
	url = https://github.com/IMOKURI/challenger-deep-theme-vim.git
[submodule "config/nvim/pack/_/start/completion-nvim"]
	path = config/nvim/pack/_/start/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim.git
[submodule "config/nvim/pack/_/start/completion-buffers"]
	path = config/nvim/pack/_/start/completion-buffers
	url = https://github.com/steelsojka/completion-buffers.git
[submodule "config/nvim/pack/_/start/nvim-treesitter"]
	path = config/nvim/pack/_/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "config/nvim/pack/_/start/nvim-lsp"]
	path = config/nvim/pack/_/start/nvim-lsp
	url = https://github.com/neovim/nvim-lsp.git
[submodule "config/nvim/pack/_/start/diagnostic-nvim"]
	path = config/nvim/pack/_/start/diagnostic-nvim
	url = https://github.com/nvim-lua/diagnostic-nvim.git
[submodule "config/nvim/pack/_/start/completion-treesitter"]
	path = config/nvim/pack/_/start/completion-treesitter
	url = https://github.com/nvim-treesitter/completion-treesitter.git
