[submodule "config/nvim/pack/_/opt/vim-ansible-vault"]
	path = config/nvim/pack/_/opt/vim-ansible-vault
	url = https://github.com/thiagoalmeidasa/vim-ansible-vault.git
[submodule "config/nvim/pack/_/opt/vim-quickhl"]
	path = config/nvim/pack/_/opt/vim-quickhl
	url = https://github.com/t9md/vim-quickhl.git
[submodule "config/nvim/pack/_/opt/lexima.vim"]
	path = config/nvim/pack/_/opt/lexima.vim
	url = https://github.com/cohama/lexima.vim.git
[submodule "config/nvim/pack/_/start/Jenkinsfile-vim-syntax"]
	path = config/nvim/pack/_/start/Jenkinsfile-vim-syntax
	url = https://github.com/martinda/Jenkinsfile-vim-syntax.git
[submodule "config/nvim/pack/_/start/ansible-vim"]
	path = config/nvim/pack/_/start/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
