# https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg

[defaults]

[ssh_connection]
# タスク実行ごとのモジュールファイルの転送と削除をしなくなる
# when using "sudo:" you must first disable 'requiretty' in /etc/sudoers
pipelining = True
