snippet todo "todo"
	#{buffer}

	TODO を解決するコードを書いて。
	${0}

snippet refactor "refactor"
	#{buffer}

	コードをリファクタリングして、可読性と保守性を向上させて。
	${0}

snippet error "error"
	#{buffer}

	以下のエラーを修正して、コードが正しく動作するようにして。
	
	"""
	${0}
	"""
