snippet comment "comment"
	#######################################################################################################################
	# ${0}
	#######################################################################################################################

snippet command "command"
	.PHONY: ${1}
	${1}: ## ${1}
		${0}
