[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynvim = "*"
jedi = "*"
flake8 = "*"
vim-vint = "*"
yamllint = "*"

[dev-packages]

[requires]
#python_version = "3.6"
