function proxy_on {
  export http_proxy=write_proxy_here
  export https_proxy=write_proxy_here
}

function proxy_off {
  unset http_proxy
  unset https_proxy
}

export proxy_on=proxy_on
export proxy_off=proxy_off

export http_proxy=write_proxy_here
export https_proxy=write_proxy_here
