[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-lint = "*"
neovim = "*"
jedi = "*"
"flake8" = "*"
yamllint = "*"
yapf = "*"
vim-vint = "*"
flake8-import-order = "*"
flake8-builtins = "*"

[dev-packages]

[requires]
python_version = "2.7"
